pkg
src
*.tar.xz

zeppelin-file-server-git/zeppelin-file-server/
zeppelin-git/zeppelin/
zeppelin-http-server-git/zeppelin-http-server/
zeppelin-jsonrpc-remote-git/zeppelin-jsonrpc-remote/
zeppelin-web-git/zeppelin-web/

